.home-container {
    text-align: center;
  }
  
  .logo {
    font-size: 36px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .start-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  